extends layout

block content
  h1 No Spoilers
  p This site will let you view the Wikipedia page for a TV show, as of the day before a particular episode originally aired.
  p So for example if you'd like to read more about a show, but not see spoilers from an episode or season you haven't watched yet, now you can!
  p This uses the TheTVDB API for TV shows, and the Wikidata and Wikipedia APIs.
  p I didn't write proper error handling code yet...
  p Search for a show
  form(method="GET" action="search")
    input(type="text" name="show")
  p Or pick a popular show
  each show in shows
    +show(show)